/*Estilo general de body*/
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
}
/*color, estilo y posicionamiento de barra de navegación*/
nav{
  background-color: #026aa7;
  height: 50px;
  display: inline-block;
  width: 100%;
}
li{
  font-size: 15px;
  display: inline-block;
  list-style: none;
  padding: 3px;
}
/*color, estilo y posicionamiento de contenido principal*/
#main-child{
  background-color: #1d8dc2;
  height: 585px;
  margin-top: -18px;
  padding: 0;
  width: 100%;
}
#add-name-list {
    z-index: 1;
    background: #006BA3;
}
/*margenes de botón de Tableros, input de texto y titilo de aplicación*/
.main-left{
  margin-top: 10px;
  margin-left: 10px;
}
.tableros{
  background-color: #68a3c4;
  border: none;
  border-radius: 5%;
  height: 30px;
}
.tableros-img-text{
  font-size: 15px;
  font-weight: 550;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.main-search{
  background-color: #68a3c4;
  border: none;
  height: 30px;
  padding: 0;
}
.button-search{
  background-color: #68a3c4;
  border: none;
  border-radius: 10%;
  height: 30px;
  margin: 0;
  padding: 0;
}
.title-trello{
  margin-top: -35px;
  text-align: center;
}
/*posicionamiento margenes de botones de usabilidad*/
.main-rigth{
  float: right;
  margin-top: -50px;
  margin-left: -30px;
  clear: none;
}
/*posicionamiento lista*/
.main-child-left{
  margin: 16px 1px;
  padding: 3px;
}
/*tamaño de letra de nombre del tablero*/
.name-tablero{
  font-size: 20px;
  font-weight: 600;
  padding-right: 15px;
}
/*flotar elemento a la derecha*/
.main-child-righ{
  float: right;
  text-decoration: underline;
}
.box-list {
    height: 200px;
    width: 270px;
    z-index: 0;
}
.block {
    display: block;
}
.none {
    display: none;
}
/*posicionamiento de botones en barra de navegacion*/
nav .main-rigth button{
  background: #4D96BB;
  border: none;
  border-radius: 5px;
  display: inline-block;
  height: 30px;
  width: 30px;
}
/* decoracion y posicionamiento de imagen dentro del botón en barra de navegación*/
nav section button a{
  color: white;
  height: 23px;
  margin: 0;
  text-decoration: none;
  width: 22px;
}
/*decoracion de link*/
main ul li a{
  color: #FFFFFF;
  text-decoration: none;
}
.tableros:hover{
  background-color: #147aa7;
}
nav .main-rigth button:hover{
  background-color: #147aa7;
}
main ul li a:hover{
  background-color: #147aa7;
}
